<head><style>
body {
    background: #add8e6;
}
h1,p{
   font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
   font-size: 26px;
   font-weight: 400;
   text-align: center;
   
}
.c1{
    display: grid;
    justify-content: center;
}
#c3{
  font-size: 13px;
    display: grid;
    justify-content: center;
}
#c4{
  font-size: 13px;
    display: grid;
    justify-content: center;
}
/* CSS */
.input {
  background-color: #e1ecf4;
  border-radius: 6px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 0px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  width:100%;
}
#c5{
  font-size:13px;
}
.input:hover,
.input:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.input:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  border-radius : 2 vh;
}

.input:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
pre{
    height: 20vh;
}
.ss{
  font-size:13px;
}
</style>
</head>
<pre> </pre>
<h1>CLient login</h1>
<hr>
<form action="/client_log_pg" method="post" class="c1">
<table>
    {% if sp!=null %}<tr id="tit">
    <th class="ss">Book name</th> 
    <th class="ss">Author</th> 
    <th class="ss">Check out</th>
    </tr>{% endif %}
  {% for post in sp %}
  <tbody>
  <tr>
    <td class="ss">{{post.book_name}}</td> 
    <td class="ss">{{post.author}}</td>
    <td><input type="submit" class="input" name="client_log_pg" style="color: white"  value="{{post.isbn}},--{{name}}"></input></td>
  </tr></tbody>
  {% endfor %}
</table>

  <table>
{% if ur!=null %}<tr id="tit3">
    <th>Book name</th>
    <th>Author</th> 
    <th>Check in</th>
    </tr>{% endif %}
  {% for post in ur %}
  <tr>
    <td>{{post.book_name}}</td> 
    <td>{{post.author}}</td>
    <td><input type="submit"  class="input" name="ur_bkk" value="{{post.isbn}},--{{name}}"></input></td>
  </tr>
  {% endfor %}
</table>

{% if sent %}
  <p>
    <em><strong>Successfully</strong> done!</em>
  </p>
  {% endif %}
  <p id="c5">Total fees you have to pay are :{{var.fees}}</p>
  <input type ="submit" name="end" value="Go back"  class="input" id="c3"></input>
  <input type = "submit" value = "Log out" name="Log_out" id="c4" class="input"></input>
</form>